.parallax{
	background: url(../assets/space.jpg) center no-repeat fixed;
	position: relative;
	background-size: cover;
	z-index: 0;
		.rellax{
			width: 100%;
				img{
					max-width: 100%;
				}
		}
		.rellax:first-child{
			position: absolute;
			z-index: 5;
			top:50%;
		}
		.rellax:nth-of-type(2){
			position: absolute;
			z-index: 10;
			top:60%;
		}
		.rellax:nth-of-type(3){
			position: absolute;
			z-index: 15;
			top:70%;
		}
}