article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

* img {
  max-width: 100%; }

@font-face {
  font-family: "BEBAS NEUE BOLD";
  src: url("../fonts/BEBASNEUEBOLD.TTF") format("truetype"); }

@font-face {
  font-family: "uni sans caps heavy";
  src: url("../fonts/Uni Sans Heavy.otf") format("opentype"); }

@font-face {
  font-family: 'Palanquin Light';
  src: local("palanquin-light.ttf"); }

body {
  font-family: 'Palanquin Light', sans-serif;
  font-size: 16px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

p {
  line-height: 1.5; }

::-moz-selection {
  background: black;
  color: white; }

::selection {
  background: black;
  color: white; }

::-moz-selection {
  background: black;
  color: white; }

header {
  height: 100vh;
  width: 100vw;
  padding-top: 6%;
  background-color: #fbec67; }
  header .header_cover {
    background-image: url("../assets/anastasia_zhenina.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text; }
    header .header_cover h1 {
      font: 6rem "Uni sans caps heavy";
      letter-spacing: 3.8px;
      line-height: 0.85;
      color: transparent; }
    header .header_cover h2 {
      font-family: 'Palanquin Light', sans-serif;
      font-size: 1.2rem;
      position: relative;
      margin-bottom: 6%; }
      header .header_cover h2:before {
        content: "";
        position: absolute;
        background-color: black;
        width: 7.8%;
        top: 38px;
        height: 2px; }
  header p {
    padding-top: 2%; }
